
<h1>app works!</h1>

<h4 class="card-header">
  {{title}}
  <span class="pull-xs-right tag tag-pill tag-primary">
    {{ price | currency:"USD":true:"2.2-2" }}
  </span>
</h4>
<div class="card-text p-a-1">{{description}}</div>



<ul class="nav nav-pills">

  <li class="nav-item">
    <a class="nav-link active" href="#">HTML</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">CSS </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">JavaScript</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Preview
    </a>
    <div class="dropdown-menu" aria-labelledby="Preview">
      <a class="dropdown-item" href="#">Mobile Phone</a>
      <a class="dropdown-item" href="#">Tablet</a>
      <a class="dropdown-item" href="#">Laptop</a>
      <a class="dropdown-item" href="#">Desktop</a>
    </div>
  </li>

</ul>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>