<div>
  <h4 class="card-header">
    Duration
    <span class="pull-right tag tag-pill tag-primary">
      <!--{{ price | currency:"USD":true:"2.2-2" }}-->
    </span>
  </h4>
  <br />
  <div class="row">
    <div class="col-3">
      <div class="pull-right">
        <label for="period_year">Period (Year)</label>
      </div>
    </div>
    <div class="col-9">
      <fieldset class="form-group">
        <input type="number" class="form-control" id="period_year" name="period_year">
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="pull-right">
        <label for="first_name">Starting Year</label>
      </div>
    </div>
    <div class="col-9">
      <fieldset class="form-group">
        <input type="text" class="form-control" id="starting_year" name="starting_year">
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="pull-right">
        <label for="first_name">Startup Year</label>
      </div>
    </div>

    <div class="col-9">
      <fieldset class="form-group">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownToggle>Toggle dropdown</button>
          <div class="dropdown-menu" aria-labelledby="dropdownManual">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
      </fieldset>

    </div>
  </div>


  <div class="row">
    <div class="col-3">
      <div class="pull-right">
        <label for="first_name">Normal Year</label>
      </div>
    </div>
    <div class="col-9">
      <fieldset class="form-group">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownToggle>Toggle dropdown</button>
          <div class="dropdown-menu" aria-labelledby="dropdownManual">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
      </fieldset>

    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="pull-right">
        <label for="first_name">Reinvest</label>
      </div>
    </div>
    <div class="col-9">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" id="reinvest" name="reinvest">
        </label>
      </div>
    </div>
  </div>

</div>
