<h4 class="card-header">
  Sphere
  <span class="pull-right tag tag-pill tag-primary">
    <!--Last Event: {{ stateEvents | async | json }}-->
  </span>
</h4>

<br />

<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="period_year">Scope (Year)</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="number" class="form-control" min="1" max="9" 
             #scope 
             [value]="appState.scope" 
             (change)="changeScopeEvent.emit(scope.value)">
    </fieldset>
  </div>

</div>